# functions in python

Create a funtion 

To Create a function we need to use def funtion name You have to Create. lets Explore

This will create a function with name Test

def test():

mandatory function should return something else give pass otherwise we will get an error

In [6]:
def test():

SyntaxError: incomplete input (9269443.py, line 1)

In [8]:
def test(): 
    pass

Every function has an parameter to return something just like our day to day life task such as,
we switch on washing machine to wash cloths...
here the function start now washing machine will return us clean cloths this is called parameter of function to return something.

there are one other thing where if we didnt define what should it return just use key-word Pass..this means nothing to return.

In [9]:
type(test())

NoneType

here we see that function didnt return anything so its type is none

here we are creating a function called add() which will add some values and give total

In [12]:
def add():
    a = 4
    b = 5
    print(a+b)

In [13]:
add()

9

to call the function just use its name.

In [14]:
def add(a,b):
    print(a+b)

In [16]:
add(4,5)

9

In [8]:
add(2.5,3)

5.5

In [9]:
add(2.5,3.567)

6.067

here we can use multiple type such as in add function we can define the values for variable or just assing variables where values can be randomly define

In [17]:
add(2,"anand") # Now here we can see that we face error beacuse we didnt pass values as string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
"2" + "anand"

'2anand'

In [19]:
add("2","anand")  ## as we see here conceatination works because values pass as string

2anand

In [20]:
type(print("xyz"))

xyz

NoneType

lets understand properly how its work here we are creating function add where we are passing values as string in returns

In [23]:
def add(a,b):
    return str(a)+str(b)

In [24]:
add(3,4)

'34'

In [25]:
add(3,"Virat Kohli")

'3Virat Kohli'

In [26]:
def add(a,b):
    a = 1
    b = 2
    print(a+b)

In [30]:
add(5,6)

3

here we can see if functions variables are define with values we get output of that....else we pass any value it shows result of given parameter only.

In short local variable always have prefernce over global.

1. local variable = a = 1 
                    b = 2
             
2. global variable = add(5,6)

In [19]:
def add(a,b):
    print(a+b)

In [20]:
add(5,6)

11

In [32]:
def add(a,b):
    a = 1
    b = 2
    c = 4
    return a + b

In [35]:
c = 10
add(5,6) + c

13

here you can say that how we are getting the output of 13 here we are not adding c in return so it will be not in local variable...
now we assing the value of C as 10 and calling our function add where we passing the two variables/values as add(5,6) but we need to understand that....
the values for a = 1 , b = 2 which is define in function so it check the values it match consides or overlaps it,and we get output as 13

Hope this will clear your doubt

In [53]:
def add(a,b):
    a=1
    b=2
    c=3
    return a+b+c, a+b ,a+b*c ##multiple return statement is allowed

In [54]:
add(2,3)

(6, 3, 7)

In [55]:
 add(1,3)

(6, 3, 7)

In [58]:
type(add(1,3)) # Multiple returns statement your return output will always tuple

tuple

In [62]:
add(1,2,3)

TypeError: add() takes 2 positional arguments but 3 were given

In [64]:
c = 5
c = 1
def add(a,b):
    a=1
    b=2
    c=4
    return a+b+c

In [65]:
add(2,3) # here local will always get prefernce it returns this

7

In [35]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [66]:
def my_func():
	x = 10
	print("Value inside function:",x)  ## here x = 10 its an local variable which is present in function 

x = 20   ## here x = 20 is global variable just like outside of function 
my_func()
print("Value outside function:",x)

Value inside function: 10
Value outside function: 20

In [68]:
def abc(a,b,c):
    return a+b+c, a*b*c, a+b*c

In [69]:
abc(2,3,4)

(9, 24, 14)

In [75]:
def test():
    return "Sudhanshu" ,[4,5,6,7],{'a':5,'b':6}

here we can pass any datatype as string float or dict in def function we always get output in tuple.

In [76]:
test()

('Sudhanshu', [4, 5, 6, 7], {'a': 5, 'b': 6})

In [77]:
int(4.567)

4

In [73]:
float(3)

3.0

In [74]:
str(3)

'3'

In [62]:
def add(a,b,c=2):
    c = 1
    return a+b+c

In [60]:
add(2,3)

7

In [61]:
add(2,3,4)

9

In [63]:
add(2,3,4)

6

 
### create a list of all the employess with different name say 5 (from user using input)
### create a user defined function which returns the largest member(whoese length is more) from a list

In [78]:
test_list = ['anand', 'harsh', 'manisha', 'aishwarya', 'hanuman']

In [79]:
test_list

['anand', 'harsh', 'manisha', 'aishwarya', 'hanuman']

In [81]:
max_len = 1
for ele in test_list:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele
    
print("maximum length string is : " + res)

maximum length string is : aishwarya

In [87]:
def biglen():
    li=[]
    res=0
    for i in range(5):
        li.append(input('enter a name: '))
        if len(li[i])>res:
            res=len(li[i])
            temp=li[i]
    return temp

In [ ]:
biglen()

In [ ]:
emp_list = []
def emp_list_func():
    for i in range(5):
        emp_name = input("Enter Employee Name")
        test_list.append(emp_name)

In [ ]:
emp_list_func()

# LAMBDA FUNCTION ############################################

#### its a one line function which can take any number of arguments but only one expression,which is evaluated and returned
### its an anonoymous function i.e without a name
### lambda kleyword is used to define it
## no def keyword is used
## one is free to use lambda funcctions wherever funcxtions object are required
## You need to keep in your knowledge that lambda function are syntactically restricted to a single expression
## the lambda operator => separates the input parameters on the left side from the lambda body on the right side

In [4]:
z = lambda a,b,c: a*b/c

In [5]:
z(1,6,2)

3.0

In [6]:
z(8,9) # here we didnt pass arrgument for C variable.

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [7]:
cube = lambda x : x**3

In [8]:
cube(8)

512

# craete an empty list
## ask the user 5 times to input any number 
## use lambda function to test for odd and even and pass that number to another list calling odd /even

In [11]:
number = int(input("Enter a number >> "))
odd_even = lambda : "Even Number" if number % 2 == 0 else "Odd Number"
print(odd_even())

Enter a number >> 21
Odd Number

################################filter function##########################################

In [12]:
list_test = (4,5,6,7,8,6,7,8,8)

In [13]:
a = list(filter(lambda x:x %2 == 0,list_test))

b = list(filter(lambda x:x %2 != 0,list_test))

In [14]:
a,b

([4, 6, 8, 6, 8, 8], [5, 7, 7])

In [15]:
def even_check(n):
    if n % 2==0:
        return True

In [16]:
list(filter(even_check,list_test))

[4, 6, 8, 6, 8, 8]